body{
    background-color:#add8e6;
    text-align: center;
    color: #072B98;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color:#1e3842;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
h2{
    text-align: center;
}
main p {
text-align: left;
}
img{
    width:50%;
}
figure{
    text-align: center;
    font-style: italic;
}
header {
    text-align: center;
    background-color: #add8e6;
}
main nav{
    text-align: center;
    background-color: #add8e6;
}
footer {
    text-align: center;
}
li {
    text-align: left;
}
ul{
    text-align: center;
}
@media screen and ( min-width: 992px ) and ( max-width: 1400px ) {
    header {
        background-color:#47393D;
        font-size: 32px;
    }
    body {
        font-size: 20px;
    }

}
@media screen and ( min-width: 601px ) and ( max-width: 991px )  {
    header {
        background-color:#3f93aa;
        font-size: 22px;
    }
    body {
        font-size: 20px;
    }
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header {
        background-color:#9B9FA9;
        font-size: 17px;
    }
    body {
        font-size: 15px;
    }
}
legend {
    text-align: center;
}
input {
    margin: 10px;
}

main ol {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

figcaption a{
    color:#1e3842;
    font-style: normal;
}