<nav>
            <p>
            <a href="https://webpages.charlotte.edu/nmille73/">CLT Web</a> ||
            <a href="https://github.com/nmille73-gif/nmille73-gif.github.io">GitHub</a> ||
            <a href="https://nmille73-gif.github.io/itis3135/">GitHub.io</a> ||
            <a href="https://www.freecodecamp.org/noramill1202">freeCodeCamp</a> ||
            <a href="https://www.codecademy.com/profiles/noramill1202">Codecademy</a> ||
            <a href="https://www.linkedin.com/in/nora-miller-327825298/">LinkedIn</a>
        </p>
        </nav>
            <p>Designed by <a href="millernoraincorp.com/">Miller Nora Incorporated</a>&copy; 2025</p>