<h1>Nora Miller's Neurotic Manatee || ITIS3135</h1>
        <nav>
            <p>
            <a href="./">Home</a> ||
            <a href="introduction.html">Introduction</a> ||
            <a href="contract.html">Contract</a> ||
            <a href="website_evaluations.html">Website Evaluations</a> ||
            <a href="fcc_fsjs_outline.html">FCC Full Stack JavaScript Outline</a>
            </p>
        </nav>
        <nav>
            <p>
                <a href="neuroticmanatee.com/index.html">About</a> ||
                <a href="stuff/tHe%20Website%20eveRRR!!!.htm">CRAPPY Website</a> ||
                <a href="hobby/index.html">Hobby</a>
            </p>
           </nav>