header {
    background-color: #798071;
    color: #F2E6E1;
    padding: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
}

header nav {
    font-size: 20px;
}

body{
    background-color: #2C2A4A;
}

main {
    background-color: #F2E6E1;
    max-width: 1200px;
    color: #194444;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-family: Tahoma;
}

footer {
    background-color: #798071;
    color: #F2E6E1;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    font-family: Verdana, sans-serif;
}

.introduction {
    padding: 0;
    margin-bottom: 0;
}

.introduction p {
    margin-bottom: 40px;
}

.introduction p:last-child {
    margin-bottom: 10px;
}

.introduction::after {
    content: "";
    display: table;
    clear: both;
}

.contact_info {
    padding: 0 30px 30px 30px;
    text-align: center;
    clear: both;
    margin-top: -150px; 
    border: 2px solid #2C2A4A;
}

h3{
    text-align: center;
}

a {
    color: #092327;
    text-decoration: none;
    padding: 0 5px;
    font-weight: bold;
}

a:hover {
    color: #53201a;
}

figure {
    float: left;
    margin: 0 auto 20px auto;;
    max-width: 300px;
    width: fit-content;
    display: block;
}

figure img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 8px;
    color: #333;
    font-size: 0.9em;
}

main::after {
    content: "";
    display: table;
    clear: both;
}