header {
    background-color: #798071;
    color: #F2E6E1;
    padding: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
}

header nav {
    font-size: 20px;
}

body{
    background-color: #2C2A4A;
}

main {
    background-color: #F2E6E1;
    color: #194444;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #798071;
    color: #F2E6E1;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    font-family: Verdana, sans-serif;
}

h3{
    text-align: center;
}

a {
    color: #092327;
    text-decoration: none;
    padding: 0 5px;
    font-weight: bold;
}

a:hover {
    color: #53201a;
}

.images {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center; 
  }

  figcaption {
    margin-top: 5px;
    font-style: italic;
    font-size: 0.9em;
    color: #555;
  }

.images a {
    flex: 1; 
    display: block;
}

.images img {
    min-width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.images img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}



@media (max-width: 768px) {
    .images {
        flex-direction: column;
    }
    
    .images img {
        width: 100%;
    }
}